{% extends 'layouts/frontOffice/layout.html.twig' %}
{% block header %}
    {% include 'layouts/frontOffice/inc/header.html.twig' %}
{% endblock  %}

{% block content %}
    <!-- Swiper-->
    <!-- Swiper-->
    <section class="section swiper-container swiper-slider swiper-type-1" data-loop="true" data-autoplay="5500" data-simulate-touch="false" data-slide-effect="fade">
        <div class="swiper-wrapper bg-gray-darker">
            <div class="swiper-slide" data-slide-bg="{{ asset('images/frontOffice/home-slide-1-1920x750.jpg') }}">
                <div class="swiper-slide-caption">
                    <div class="section-xl">
                        <div class="container container-wide">
                            <div class="row row-fix">
                                <div class="col-md-8 col-lg-7 col-xl-6 col-xxl-5 offset-xl-1">
                                    <p class="big">Welcome to Booker</p>
                                    <h3>Rent New and Used Textbooks</h3>
                                    <p class="big">We provide huge discounts on all kinds of textbooks. On our website you can find lots of books for study and self-development.</p><a class="button button-primary button-nina" href="#">View catalog</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" data-slide-bg="{{ asset('images/frontOffice/home-slide-2-1920x750.jpg') }}">
                <div class="swiper-slide-caption">
                    <div class="section-xl">
                        <div class="container container-wide">
                            <div class="row row-fix">
                                <div class="col-md-8 col-lg-7 col-xl-6 col-xxl-5 offset-xl-1">
                                    <p class="big">Diverse Book Collection</p>
                                    <h3>Find your Favorite books here</h3>
                                    <p class="big">From applied literature to educational resources, we have a lot of textbooks to offer you. We provide only the best books for rent.</p><a class="button button-primary button-nina" href="#">View catalog</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" data-slide-bg="{{ asset('images/frontOffice/home-slide-3-1920x750.jpg') }}">
                <div class="swiper-slide-caption">
                    <div class="section-xl">
                        <div class="container container-wide">
                            <div class="row row-fix">
                                <div class="col-md-8 col-lg-7 col-xl-6 col-xxl-5 offset-xl-1">
                                    <p class="big">Only for Our Website Visitors</p>
                                    <h3>Exclusive Book Offers</h3>
                                    <p class="big">We regularly update our catalog with exclusive book offers from international authors and publishing houses.</p><a class="button button-primary button-nina" href="#">View catalog</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Swiper controls-->
        <div class="swiper-buttons">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </section>

    <!-- Button isotope-->
    <section class="section section-variant-2 bg-default novi-background bg-cover text-center">
        <div class="container container-wide">
            <div class="isotope-wrap row row-fix row-50">
                <!-- Isotope Filters-->
                <div class="col-xl-12">
                    <ul class="isotope-filters isotope-filters-horizontal">
                        <li class="block-top-level">
                            <p class="big">Choose your category:</p>
                            <!-- Isotope Filters-->
                            <button class="isotope-filters-toggle button button-xs button-primary" data-custom-toggle="#isotope-filters-list-1" data-custom-toggle-hide-on-blur="true">Filter<span class="caret"></span></button>
                            <ul class="isotope-filters-list isotope-filters-list-buttons" id="isotope-filters-list-1">
                                <li><a class="button-xs active" data-isotope-filter="*" data-isotope-group="movies" href="#">All Categories</a></li>
                                {% for category in categories %}
                                    <li><a class="button-xs" data-isotope-filter="{{ category }}" data-isotope-group="movies" href="#">{{ category }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- Isotope Content-->
                <div class="col-xl-12">
                    <div class="isotope isotope-md row row-30" data-isotope-layout="fitRows" data-isotope-group="movies" data-lightgallery="group">
                        {% for book in books %}
                            <div class="col-md-6 col-lg-4 col-xl-3 col-xxl-3 isotope-item" data-filter="{{ book.category }}">
                                <div class="product" style="height:38em;">
                                    <div class="product-image" ><a href="#"><img src="/storage/images/book/{{ book.medias|first.path }}" alt="" style="height: 20em; width: 80em;"/></a></div>
                                    <div class="product-title">
                                        <h5><a href="#">{{ book.title }}</a></h5>
                                    </div>
                                    <div class="product-price">
                                        <h6>{{ book.subject }}</h6>
                                    </div>
                                                 {% if book.checkLoanNotReturned %}
                                                     <div class="product-button" disabled=""> <a class="button button-primary button-nina">Loaned</a></div>
                                                 {% else%}
                                                     <div class="product-button"><a class="button button-primary button-nina" href="{{ path('loanBook', {'id': book.id}) }}">Loan</a></div>
                                                {% endif%}
                                </div>
                            </div>
                        {% endfor %}


                    </div>
                </div>
            </div><a class="button button-primary button-nina" >view more books</a>
        </div>
    </section>

    <!-- Small Features-->
    <section class="section section-variant-2 bg-gray-100 novi-background bg-cover">
        <div class="container container-wide">
            <div class="row row-50 justify-content-sm-center text-gray-light">
                <div class="col-sm-10 col-md-6 col-xl-3">
                    <article class="box-minimal">
                        <div class="box-minimal-header">
                            <div class="box-minimal-icon novi-icon fl-bigmug-line-favourites5"></div>
                            <h6 class="box-minimal-title">Free Shipping</h6>
                        </div>
                        <p>Booker offers free shipping worldwide, which makes it possible for you to rent a book from us even if you live far away from our head office. Shipping process is fast and secure.</p>
                    </article>
                </div>
                <div class="col-sm-10 col-md-6 col-xl-3">
                    <article class="box-minimal">
                        <div class="box-minimal-header">
                            <div class="box-minimal-icon novi-icon fl-bigmug-line-two316"></div>
                            <h6 class="box-minimal-title">Easy Returns</h6>
                        </div>
                        <p>You can always return a book after you’ve read it. Just use a unique link that can be found inside our every textbook. Then fill out a special form and send the book to one of our offices.</p>
                    </article>
                </div>
                <div class="col-sm-10 col-md-6 col-xl-3">
                    <article class="box-minimal">
                        <div class="box-minimal-header">
                            <div class="box-minimal-icon novi-icon fl-bigmug-line-note35"></div>
                            <h6 class="box-minimal-title">Take Notes</h6>
                        </div>
                        <p>Textbooks rented at Booker have a special section where you can take notes. However, we ask all our customers to limit your writing and highlighting to a minimal amount.</p>
                    </article>
                </div>
                <div class="col-sm-10 col-md-6 col-xl-3">
                    <article class="box-minimal">
                        <div class="box-minimal-header">
                            <div class="box-minimal-icon novi-icon fl-bigmug-line-circular220"></div>
                            <h6 class="box-minimal-title">satisfaction guaranteed</h6>
                        </div>
                        <p>We hope that you will like our book rental service. Our team makes every effort to offer you an easy and enjoyable experience of renting a textbook at any time of the year.</p>
                    </article>
                </div>
            </div>
        </div>
    </section>

    <!-- Twitter form-->
    <section class="section section-variant-2 bg-image-11 novi-background custom-bg-image context-dark">
        <div class="container container-bigger">
            <div class="row row-fix row-50 justify-content-lg-between">
                <div class="col-sm-12 col-md-6 col-lg-5">
                    <h3>get the latest news from the team of Booker</h3>
                    <hr class="divider divider-left divider-default">
                    <p class="big">Keep up with our always upcoming news, updates, and publications. Enter your e-mail and subscribe to our newsletter.</p>
                    <!-- Subscribe form-->
                    <form class="rd-mailform" data-form-output="form-output-global" action="../../external.html?link=https://livedemo00.template-help.com/wt_prod-19592/bat/rd-mailform.php" method="post" data-form-type="subscribe">
                        <div class="form-wrap">
                            <input class="form-input" type="email" name="email" data-constraints="@Email @Required" id="form-email-twitter">
                            <label class="form-label" for="form-email-twitter">Enter your e-mail</label>
                        </div>
                        <button class="button form-button button-primary button-nina" type="submit">Subscribe</button>
                    </form>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-5">
                    <h3>follow us for news</h3>
                    <hr class="divider divider-left divider-default">
                    <!-- RD Twitter Feed-->
                    <div class="twitter" data-twitter-username="templatemonster" data-twitter-date-hours=" hours ago" data-twitter-date-minutes=" minutes ago">
                        <div class="twitter-sm" data-twitter-type="tweet">
                            <div class="twitter-box-icon">
                                <div class="twitter-date text-dark small"></div>
                            </div>
                            <div class="twitter-box-text">
                                <div class="twitter-text" data-tweet="text"></div><span class="text-middle" data-date="text"></span>
                            </div>
                        </div>
                        <div class="twitter-sm" data-twitter-type="tweet">
                            <div class="twitter-box-icon">
                                <div class="twitter-date text-dark small"></div>
                            </div>
                            <div class="twitter-box-text">
                                <div class="twitter-text" data-tweet="text"></div><span class="text-middle" data-date="text"></span>
                            </div>
                        </div>
                        <div class="twitter-sm" data-twitter-type="tweet">
                            <div class="twitter-box-icon">
                                <div class="twitter-date text-dark small"></div>
                            </div>
                            <div class="twitter-box-text">
                                <div class="twitter-text" data-tweet="text"></div><span class="text-middle" data-date="text"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- CTA-->
    <section class="section section-xs text-center bg-gray-700 novi-background bg-cover">
        <div class="container container-wide">
            <div class="box-cta-thin">
                <p class="big"><span class="label-cta label-cta-primary">Hot!</span><span>Rent New and Used Textbooks and.&nbsp;</span><strong>Save Huge on Our Books.</strong>&nbsp;<a class="link-bold" href="#">Rent now!</a></p>
            </div>
        </div>
    </section>
{% endblock %}
