<!-- Page Footer-->
<!-- Footer Default-->
<footer class="section page-footer page-footer-default novi-background bg-cover text-left bg-gray-darker">
    <div class="container container-wide">
        <div class="row row-50 justify-content-sm-center">
            <div class="col-md-6 col-xl-3">
                <div class="inset-xxl">
                    <h6>About Us</h6>
                    <p class="text-spacing-sm">Booker is the worldwide textbook rental service created by readers for readers. We operate since 2014 and we offer lots of new and used textbooks on various topics including web design, development, business, economics, marketing, and more.</p>
                </div>
            </div>
            <div class="col-md-6 col-xl-2">
                <h6>Quick links</h6>
                <ul class="list-marked list-marked-primary">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Catalog</a></li>
                    <li><a href="#">How To Rent</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Pages</a></li>
                    <li><a href="#">Contacts</a></li>
                </ul>
            </div>
            <div class="col-md-6 col-xl-4">
                <h6>Gallery</h6>
                <div class="instafeed text-center" data-lightgallery="group">
                    <div class="row row-10 row-narrow">
                        <div class="col-3">
                            <div class="thumbnail-instafeed thumbnail-instafeed-minimal"> <a class="instagram-link" data-lightgallery="item" href="{{ asset('images/frontOffice/footer-gallery-01-1200x800-original.jpg') }}"><img src="{{ asset('images/frontOffice/footer-gallery-01-110x110.jpg')}}" alt="" width="110" height="110"/>
                                    <!--img.instagram-image(src='images/_blank.png', alt='', data-images-standard_resolution-url='src')--></a>
                                <div class="caption">
                                    <ul class="list-inline">
                                        <li><span class="icon novi-icon mdi mdi-plus">  </span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="thumbnail-instafeed thumbnail-instafeed-minimal"> <a class="instagram-link" data-lightgallery="item" href="{{ asset('images/frontOffice/footer-gallery-02-1200x800-original.jpg')}}"><img src="{{ asset('images/frontOffice/footer-gallery-02-110x110.jpg')}}" alt="" width="110" height="110"/>
                                    <!--img.instagram-image(src='images/_blank.png', alt='', data-images-standard_resolution-url='src')--></a>
                                <div class="caption">
                                    <ul class="list-inline">
                                        <li><span class="icon novi-icon mdi mdi-plus">  </span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="thumbnail-instafeed thumbnail-instafeed-minimal"> <a class="instagram-link" data-lightgallery="item" href="{{ asset('images/frontOffice/footer-gallery-03-1200x800-original.jpg')}}"><img src="{{ asset('images/frontOffice/footer-gallery-03-110x110.jpg')}}" alt="" width="110" height="110"/>
                                    <!--img.instagram-image(src='images/_blank.png', alt='', data-images-standard_resolution-url='src')--></a>
                                <div class="caption">
                                    <ul class="list-inline">
                                        <li><span class="icon novi-icon mdi mdi-plus">  </span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="thumbnail-instafeed thumbnail-instafeed-minimal"> <a class="instagram-link" data-lightgallery="item" href="{{ asset('images/frontOffice/footer-gallery-04-1200x800-original.jpg')}}"><img src="{{ asset('images/frontOffice/footer-gallery-04-110x110.jpg')}}" alt="" width="110" height="110"/>
                                    <!--img.instagram-image(src='images/_blank.png', alt='', data-images-standard_resolution-url='src')--></a>
                                <div class="caption">
                                    <ul class="list-inline">
                                        <li><span class="icon novi-icon mdi mdi-plus">  </span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="thumbnail-instafeed thumbnail-instafeed-minimal"> <a class="instagram-link" data-lightgallery="item" href="{{ asset('images/frontOffice/footer-gallery-05-1200x800-original.jpg')}}"><img src="{{ asset('images/frontOffice/footer-gallery-05-110x110.jpg')}}" alt="" width="110" height="110"/>
                                    <!--img.instagram-image(src='images/_blank.png', alt='', data-images-standard_resolution-url='src')--></a>
                                <div class="caption">
                                    <ul class="list-inline">
                                        <li><span class="icon novi-icon mdi mdi-plus">  </span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="thumbnail-instafeed thumbnail-instafeed-minimal"> <a class="instagram-link" data-lightgallery="item" href="{{ asset('images/frontOffice/footer-gallery-06-1200x800-original.jpg')}}"><img src="{{ asset('images/frontOffice/footer-gallery-06-110x110.jpg')}}" alt="" width="110" height="110"/>
                                    <!--img.instagram-image(src='images/_blank.png', alt='', data-images-standard_resolution-url='src')--></a>
                                <div class="caption">
                                    <ul class="list-inline">
                                        <li><span class="icon novi-icon mdi mdi-plus">  </span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="thumbnail-instafeed thumbnail-instafeed-minimal"> <a class="instagram-link" data-lightgallery="item" href="{{ asset('images/frontOffice/footer-gallery-07-800x1200-original.jpg')}}"><img src="{{ asset('images/frontOffice/footer-gallery-07-110x110.jpg')}}" alt="" width="110" height="110"/>
                                    <!--img.instagram-image(src='images/_blank.png', alt='', data-images-standard_resolution-url='src')--></a>
                                <div class="caption">
                                    <ul class="list-inline">
                                        <li><span class="icon novi-icon mdi mdi-plus">  </span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="thumbnail-instafeed thumbnail-instafeed-minimal"> <a class="instagram-link" data-lightgallery="item" href="{{ asset('images/frontOffice/footer-gallery-08-1200x800-original.jpg')}}"><img src="{{ asset('images/frontOffice/footer-gallery-08-110x110.jpg')}}" alt="" width="110" height="110"/>
                                    <!--img.instagram-image(src='images/_blank.png', alt='', data-images-standard_resolution-url='src')--></a>
                                <div class="caption">
                                    <ul class="list-inline">
                                        <li><span class="icon novi-icon mdi mdi-plus">  </span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3">
                <h6>newsletter</h6>
                <p class="text-spacing-sm">Keep up with our always upcoming news, events, and updates. Enter your e-mail and subscribe to our newsletter.</p>
                <!-- RD Mailform: Subscribe-->
                <form class="rd-mailform rd-mailform-inline rd-mailform-sm" data-form-output="form-output-global" data-form-type="subscribe" method="post" action="">
                    <div class="rd-mailform-inline-inner">
                        <div class="form-wrap">
                            <input class="form-input" type="email" name="email" data-constraints="@Email @Required" id="subscribe-form-email-1"/>
                            <label class="form-label" for="subscribe-form-email-1">Enter your e-mail</label>
                        </div>
                        <button class="button form-button button-sm button-primary button-nina" type="submit">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>
        <p class="right">&#169;&nbsp;<span class="copyright-year"></span> All Rights Reserved&nbsp;<a href="#">Terms of Use</a>&nbsp;and&nbsp;<a href="#">Privacy Policy</a></p>
    </div>
</footer>