<head>
    <!-- Site Title-->
    <title>Accueil</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <script src="{{ asset('plugins/jquery/jquery-v4.js') }}"></script>
    <script src="{{ asset('js/frontOffice/script_2.js') }}"></script>
    <link rel="icon" href="{{ asset('images/frontOffice/favicon.ico') }}" type="image/x-icon">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ asset('css/frontOffice/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/frontOffice/style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/frontOffice/fonts.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">    <link rel="stylesheet" type="text/css" href="{{ asset('plugins/toastr/toastr.css') }}">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="{{ asset('plugins/toastr/toastr.js') }}"></script>
    <!--[if lt IE 10]>
    <script src="{{ asset('js/frontOffice/html5shiv.min.js') }}"></script>
    <![endif]-->

</head>