
<header class="section page-header">
    <!-- RD Navbar-->
    <div class="rd-navbar-wrap rd-navbar-shop-header">
        <nav class="rd-navbar" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fullwidth" data-xl-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-device-layout="rd-navbar-static" data-md-stick-up-offset="100px" data-lg-stick-up-offset="150px" data-stick-up="true" data-sm-stick-up="true" data-md-stick-up="true" data-lg-stick-up="true" data-xl-stick-up="true">
            <div class="rd-navbar-top-panel novi-background">
                <div class="rd-navbar-nav-wrap">
                    <!-- RD Navbar Nav-->
                    <ul class="rd-navbar-nav">
                        <li><a href="{{ path('home') }}">Home</a>
                        </li>
                        <!--<li><a href="#">Catalogue</a>

                            <ul class="rd-navbar-dropdown">
                                <li><a href="#">Shop 3 Columns Layout</a>
                                </li>
                                <li><a href="#">Shop 4 Columns Layout</a>
                                </li>
                                <li><a href="#">Checkout</a>
                                </li>
                                <li><a href="#">Product Page</a>
                                </li>
                                <li><a href="#">Shopping Cart</a>
                                </li>
                            </ul>
                        </li>-->
                        <li><a href="{{ path('about') }}">About us</a>
                        </li>
                        <li><a href="{{ path('contacts') }}">Contacts</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="rd-navbar-inner">
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel">
                    <!-- RD Navbar Toggle-->
                    <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                    <!-- RD Navbar Brand-->
                    <div class="rd-navbar-brand"><a class="brand-name" href="{{ path('home') }}"><img class="logo-default" src="{{ asset('images/frontOffice/logo-139x43.png') }}" alt="" width="139" height="43"/><img class="logo-inverse" src="{{ asset('images/frontOffice/logo-inverse-127x38.png') }}" alt="" width="127" height="38"/></a></div>
                </div>
                <div class="rd-navbar-aside-center">
                    <!-- RD Navbar Search-->
                    <div class="rd-navbar-search"><a class="rd-navbar-search-toggle" data-rd-navbar-toggle=".rd-navbar-search" href="#"><span></span></a>
                        <form class="rd-search" action="" data-search-live="rd-search-results-live" method="GET">
                            <div class="rd-mailform-inline rd-mailform-sm rd-mailform-inline-modern">
                                <div class="rd-mailform-inline-inner">
                                    <div class="form-wrap form-wrap-icon mdi-magnify">
                                        <label class="form-label form-label" for="rd-navbar-search-form-input">Search...</label>
                                        <input class="rd-navbar-search-form-input form-input" id="rd-navbar-search-form-input" type="text" name="s" autocomplete="off">
                                        <div id="rd-search-results-live"></div>
                                    </div>
                                    <button class="rd-search-form-submit rd-search-form-submit-icon mdi mdi-magnify"></button>
                                    <button class="rd-search-form-submit button form-button button-sm button-primary button-nina">search</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="rd-navbar-aside-right">
                    {% if not app.user %}
                        <div class="rd-navbar-shop rd-navbar-login"><a class="rd-navbar-shop-icon mdi mdi-login" href="{{ path('studentLogin') }}"><span class="d-none d-xl-inline">Login</span></a></div>
                    {% else %}
                    <div class="rd-navbar-shop rd-navbar-login">
                    <ul class="rd-navbar-nav">
                        <li class="active">
                            <a class="rd-navbar-shop-icon mdi mdi-account" href="#" style="color: black"><span class="d-none d-xl-inline"><div class="box-minimal-icon fl-bigmug-line-user143"> {{ app.user.name }}</div></span></a>
                            <!-- RD Navbar Dropdown-->
                            <ul class="rd-navbar-dropdown">
                                <li><a href="{{ path('profile') }}">Profile</a>
                                </li>
                                <li><a href="{{ path('logout') }}">Sign out</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    </div>


                    {% endif %}
                </div>
            </div>
        </nav>
    </div>
</header>