<head>
    <!-- Site Title-->
    <title>Home</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <script src="{{ asset('js/frontOffice/script_2.js') }}"></script>
    <link rel="icon" href="{{ asset('images/frontOffice/favicon.ico') }}" type="image/x-icon">
    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/frontOffice/css11d7.css')}}?family=Oswald:200,400%7CLato:300,400,300italic,700%7CMontserrat:900">
    <link rel="stylesheet" href="{{ asset('css/frontOffice/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/frontOffice/style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/frontOffice/fonts.css') }}">
    <!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="#"><img src="" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="{{ asset('js/frontOffice/html5shiv.min.js') }}"></script>
    <![endif]-->
</head>