<header class="section page-header">
    <!-- RD Navbar-->
    <div class="rd-navbar-wrap rd-navbar-shop-header">
        <nav class="rd-navbar" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fullwidth" data-xl-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-device-layout="rd-navbar-static" data-md-stick-up-offset="100px" data-lg-stick-up-offset="150px" data-stick-up="true" data-sm-stick-up="true" data-md-stick-up="true" data-lg-stick-up="true" data-xl-stick-up="true">
            <div class="rd-navbar-top-panel novi-background">
                <div class="rd-navbar-nav-wrap">
                    <!-- RD Navbar Nav-->
                    <ul class="rd-navbar-nav">
                        <li class="active"><a href="#">Home</a>
                        </li>
                        <li><a href="#">About Us</a>
                            <!-- RD Navbar Dropdown-->
                            <ul class="rd-navbar-dropdown">
                                <li><a href="#">About Us</a>
                                </li>
                                <li><a href="#">About Me</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#">Catalog</a>
                            <!-- RD Navbar Dropdown-->
                            <ul class="rd-navbar-dropdown">
                                <li><a href="#">Shop 3 Columns Layout</a>
                                </li>
                                <li><a href="#">Shop 4 Columns Layout</a>
                                </li>
                                <li><a href="#">Checkout</a>
                                </li>
                                <li><a href="#">Product Page</a>
                                </li>
                                <li><a href="#">Shopping Cart</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#">Services</a>
                            <!-- RD Navbar Dropdown-->
                            <ul class="rd-navbar-dropdown">
                                <li><a href="#">Services</a>
                                </li>
                                <li><a href="#">Services variant 2</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#">Blog</a>
                            <!-- RD Navbar Dropdown-->
                            <ul class="rd-navbar-dropdown">
                                <li><a href="#">Classic Blog</a>
                                </li>
                                <li><a href="#">Grid Blog</a>
                                </li>
                                <li><a href="#">Masonry Blog</a>
                                </li>
                                <li><a href="#">Modern Blog</a>
                                </li>
                                <li><a href="#">Audio Post</a>
                                </li>
                                <li><a href="#">Image Post</a>
                                </li>
                                <li><a href="#">Single Post</a>
                                </li>
                                <li><a href="#">Video Post</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#">Pages</a>
                            <!-- RD Navbar Megamenu-->
                            <ul class="rd-navbar-megamenu rd-navbar-megamenu-banner">
                                <li><img src="{{ asset('images/frontOffice/megamenu-banner-301x510.jpg') }}" alt="" width="301" height="510"/>
                                </li>
                                <li>
                                    <ul class="rd-megamenu-list">
                                        <li><a href="#">404 Page</a></li>
                                        <li><a href="#">503 Page</a></li>
                                        <li><a href="#">Coming Soon</a></li>
                                        <li><a href="#">Accordions</a></li>
                                        <li><a href="#">Buttons</a></li>
                                        <li><a href="#">Our History</a></li>
                                        <li><a href="#">Forms</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul class="rd-megamenu-list">
                                        <li><a href="#">Login Page</a></li>
                                        <li><a href="#">Registration Page</a></li>
                                        <li><a href="#">Search Results</a></li>
                                        <li><a href="#">Under Construction</a></li>
                                        <li><a href="#">Tables</a></li>
                                        <li><a href="#">Tabs</a></li>
                                        <li><a href="#">Typography</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul class="rd-megamenu-list">
                                        <li><a href="#">Fullwidth Gallery Hover Title</a></li>
                                        <li><a href="#">Fullwidth Gallery Inside Title</a></li>
                                        <li><a href="#">Grid Gallery Hover Title</a></li>
                                        <li><a href="#">Grid Gallery Inside Title</a></li>
                                        <li><a href="#">Grid Gallery Outside Title</a></li>
                                        <li><a href="#">Masonry Gallery Hover Title</a></li>
                                        <li><a href="#">Masonry Gallery Inside Title</a></li>
                                        <li><a href="#">Masonry Gallery Outside Title</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#">Contacts</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="rd-navbar-inner">
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel">
                    <!-- RD Navbar Toggle-->
                    <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                    <!-- RD Navbar Brand-->
                    <div class="rd-navbar-brand"><a class="brand-name" href="#"><img class="logo-default" src="{{ asset('images/frontOffice/logo-139x43.png') }}" alt="" width="139" height="43"/><img class="logo-inverse" src="{{ asset('images/frontOffice/logo-inverse-127x38.png') }}" alt="" width="127" height="38"/></a></div>
                </div>
                <div class="rd-navbar-aside-center">
                    <!-- RD Navbar Search-->
                    <div class="rd-navbar-search"><a class="rd-navbar-search-toggle" data-rd-navbar-toggle=".rd-navbar-search" href="#"><span></span></a>
                        <form class="rd-search" action="" data-search-live="rd-search-results-live" method="GET">
                            <div class="rd-mailform-inline rd-mailform-sm rd-mailform-inline-modern">
                                <div class="rd-mailform-inline-inner">
                                    <div class="form-wrap form-wrap-icon mdi-magnify">
                                        <label class="form-label form-label" for="rd-navbar-search-form-input">Search...</label>
                                        <input class="rd-navbar-search-form-input form-input" id="rd-navbar-search-form-input" type="text" name="s" autocomplete="off">
                                        <div id="rd-search-results-live"></div>
                                    </div>
                                    <button class="rd-search-form-submit rd-search-form-submit-icon mdi mdi-magnify"></button>
                                    <button class="rd-search-form-submit button form-button button-sm button-primary button-nina">search</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="rd-navbar-aside-right">
                    {% if not app.user %}
                        <div class="rd-navbar-shop rd-navbar-login"><a class="rd-navbar-shop-icon mdi mdi-login" href="{{ path('studentLogin') }}"><span class="d-none d-xl-inline">Login</span></a></div>
                    {% else %}
                        <div class="rd-navbar-shop rd-navbar-login">
                        <div class="rd-navbar-nav-wrap">
                            <!-- RD Navbar Nav-->
                            <ul class="rd-navbar-nav">
                                <li><a href="#" style="color: black">{{app.user.name}}</a>
                                    <!-- RD Navbar Dropdown-->
                                    <ul class="rd-navbar-dropdown" >
                                        <li><a href="#">Profile</a>
                                        </li>
                                        <li><a href="{{ path('studentLogout') }}">Se déconnecter</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </nav>
    </div>
</header>