<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token('ajax-item') }}">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- CSRF Token -->
    <title>{{ title }}</title>
    <link rel="shortcut icon" href="{{ asset('images/frontOffice/favicon.ico') }}">
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,700,800,900" rel="stylesheet">
    <script src="{{ asset('plugins/jquery/jquery-v4.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('css/backOffices/style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/backOffices/purple.css') }}">
    <link rel="stylesheet" href="{{ asset('plugins/perfect-scrollbar/perfect-scrollbar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset ('plugins/fontawesome/fontawesome.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('plugins/select2/select2.css') }}"/>
    <script src="{{ asset('plugins/full-calendar/lib/moment.min.js') }}"></script>
    <!-- sweet alert -->
    <link rel="stylesheet" type="text/css" href="{{ asset('plugins/sweetalert/sweetalert.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('plugins/sweetalert/swal-forms.css') }}">
    <script src="{{ asset('plugins/sweetalert/sweetalert.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset('plugins/toastr/toastr.css') }}">
    <script src="{{ asset('plugins/toastr/toastr.js') }}"></script>
    <script type="text/javascript" src="{{ asset('plugins/bootstrap/confirmation.js') }}"></script>
    <script src="{{ asset('plugins/datatable/datatable.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset('plugins/datatable/datatable.css') }}">

    <script>
        $(document).ready(function () {
            $('#datatable-responsive').DataTable({
                responsive: true,
                language: {
                    url: "{{ asset('plugins/datatable/lang/french.json') }}"
                },
            });
            $('.dataTables_filter input').attr("placeholder", "Rechercher...");
        });
    </script>




</head>
